In [665]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [666]:
name = ['color','size','act','age','inflated']

In [667]:
df1 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balloons/adult+stretch.data',names=name)
df2 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balloons/adult-stretch.data',names=name)
df3 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balloons/yellow-small.data',names=name)
df4 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balloons/yellow-small+adult-stretch.data',names=name)

frames = [df1,df2,df3,df4]
df = pd.concat(frames)

In [668]:
df.describe()

         color   size      act    age inflated
count       76     76       76     76       76
unique       2      2        2      2        2
top     YELLOW  SMALL  STRETCH  CHILD        F
freq        40     40       38     38       41

In [669]:
df.tail()

     color   size      act    age inflated
11  PURPLE  SMALL      DIP  CHILD        F
12  PURPLE  LARGE  STRETCH  ADULT        T
13  PURPLE  LARGE  STRETCH  CHILD        F
14  PURPLE  LARGE      DIP  ADULT        F
15  PURPLE  LARGE      DIP  CHILD        F

In [670]:
y = df['inflated']
x = df
x= x.drop('inflated',axis=1)
x.head()

    color   size      act    age
0  YELLOW  SMALL  STRETCH  ADULT
1  YELLOW  SMALL  STRETCH  ADULT
2  YELLOW  SMALL  STRETCH  CHILD
3  YELLOW  SMALL      DIP  ADULT
4  YELLOW  SMALL      DIP  CHILD

In [671]:
x = pd.get_dummies(x)
x.head()

,color_PURPLE,color_YELLOW,size_LARGE,size_SMALL,act_DIP,act_STRETCH,age_ADULT,age_CHILD
0,0,1,0,1,0,1,1,0
1,0,1,0,1,0,1,1,0
2,0,1,0,1,0,1,0,1
3,0,1,0,1,1,0,1,0
4,0,1,0,1,1,0,0,1

In [672]:
le  = LabelEncoder()
le.fit(y)
y = le.transform(y)
y

array([1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0])

In [673]:
x_train,x_test,y_train,y_test=train_test_split(x,y, random_state=7)

##  Score varies with diffrent samples but with tunig paramter C=0.2 and gamma=0.3 with default kernel('rbf') better score got then without any paramter. And with kernel('poly') same happens.
## sometimes C=0.3 and gamme=0.8 gives same as default and diifferent values gives lower/variation in result. Things is need to check different values.

In [690]:
# svc = svm.SVC()
svc = svm.SVC(C=0.2,gamma=0.3)
svc.fit(x_train,y_train)

SVC(C=0.2, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.3, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [691]:
svc.score(x_test,y_test)

0.7368421052631579

In [676]:
predicted = svc.predict(x_test)
predicted

array([0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1])

In [677]:
mse = np.mean((predicted-y_test)**2)
mse

0.2631578947368421