In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import ensemble
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('cancer_reg.csv')
df.head()

,avgAnnCount,avgDeathsPerYear,TARGET_deathRate,incidenceRate,medIncome,popEst2015,povertyPercent,studyPerCap,binnedInc,MedianAge,...,PctPrivateCoverageAlone,PctEmpPrivCoverage,PctPublicCoverage,PctPublicCoverageAlone,PctWhite,PctBlack,PctAsian,PctOtherRace,PctMarriedHouseholds,BirthRate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,"(61494.5, 125635]",39.3,...,NaN,41.6,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,...,53.8,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096
2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,...,43.5,34.9,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488
3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,"(42724.4, 45201]",42.8,...,40.3,35.0,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841
4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,"(48021.6, 51046.4]",48.3,...,43.9,35.1,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657

In [3]:
# missing value handling
df['PctSomeCol18_24'] = df['PctSomeCol18_24'].fillna(df['PctSomeCol18_24'].mean())
df['PctEmployed16_Over'] = df['PctEmployed16_Over'].fillna(df['PctEmployed16_Over'].mean())
df['PctPrivateCoverageAlone'] = df['PctPrivateCoverageAlone'].fillna(df['PctPrivateCoverageAlone'].mean())

In [4]:
y = df['TARGET_deathRate']
y.head()

0    164.9
1    161.3
2    174.7
3    194.8
4    144.4
Name: TARGET_deathRate, dtype: float64

In [5]:
x = df
x = x.drop('TARGET_deathRate', axis=1)
x = x.drop('binnedInc', axis=1) #removed binnedInc field
x.head()
x = pd.get_dummies(x)
x.head()

,avgAnnCount,avgDeathsPerYear,incidenceRate,medIncome,popEst2015,povertyPercent,studyPerCap,MedianAge,MedianAgeMale,MedianAgeFemale,...,"Geography_York County, Pennsylvania","Geography_York County, South Carolina","Geography_York County, Virginia","Geography_Young County, Texas","Geography_Yuba County, California","Geography_Yukon-Koyukuk Census Area, Alaska","Geography_Yuma County, Arizona","Geography_Yuma County, Colorado","Geography_Zapata County, Texas","Geography_Zavala County, Texas"
0,1397.0,469,489.8,61898,260131,11.2,499.748204,39.3,36.9,41.7,...,0,0,0,0,0,0,0,0,0,0
1,173.0,70,411.6,48127,43269,18.6,23.111234,33.0,32.2,33.7,...,0,0,0,0,0,0,0,0,0,0
2,102.0,50,349.7,49348,21026,14.6,47.560164,45.0,44.0,45.8,...,0,0,0,0,0,0,0,0,0,0
3,427.0,202,430.4,44243,75882,17.1,342.637253,42.8,42.2,43.4,...,0,0,0,0,0,0,0,0,0,0
4,57.0,26,350.1,49955,10321,12.5,0.000000,48.3,47.8,48.9,...,0,0,0,0,0,0,0,0,0,0

In [6]:
train_x,test_x,train_y,test_y = train_test_split(x,y)

In [7]:
lr = linear_model.LinearRegression()
lr.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [8]:
lr.intercept_

166.75087262224966

In [9]:
lr.coef_

array([-2.86465051e-03,  1.60135840e-02,  1.92088818e-01, ...,
        1.48800406e+01,  0.00000000e+00, -4.57450314e+01])

In [10]:
print('new data score: ',lr.score(test_x,test_y), 'same data score: ',lr.score(train_x,train_y))

('new data score: ', 0.4270123712613325, 'same data score: ', 1.0)